@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');


.body_principal{
  overflow: hidden;
  background-image: linear-gradient(#a57262, #251712);
}


.transform_redentor{
  transform: scale(1.3);
}


.div_img_cristoRedentor{
  max-width: 100%;
  max-height: 100%;
  position:absolute;
  left: 1254px;
  bottom:150px;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: right;
  transform: translateY(100px);
  animation: inicio 1.7s ease-in-out forwards;
}

.text_Eai{
  position:absolute;
  left: 150px;
  bottom:40px;
  height: 1000px;
  transform: translateY(100px);
  animation: inicio 1.5s ease-in-out forwards;
}

.img_eai{
  width: 726px;
  height: 1122px;
}

.img_logo_inicial{
  width: 150px;
  height: 150px;
}

.div_logo_inicial{
  position:absolute;
  left: 20px;
  bottom:820px;
}


/* Botão entrar/cadastrar */
.Button_EntrarOuCadastrar{
  font-size: 45px;
  font-family: "Afacad Flux", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 218px;
  left: 250px;  
  z-index: 0;

  width: 525px;
  height: 70px;

  border-radius: 55px;
  background-color: #99837C;
  color: #45251C;

  opacity: 0%;

  transition: .4s ease-in-out;

  animation: botao_inicio 1s ease-in-out forwards;
  animation-delay: 1.3s;
}


/* Passar o mouse por cima */
.Button_EntrarOuCadastrar:hover{
  transform: scale(1.1);
    transition: .4s ease-in-out;

  box-shadow: 1px 5px 51px #99837C;

  border: none;
  
}

@keyframes inicio {
  to {
    opacity: 1;
    transform: translateY(30px);
  }
}
@keyframes botao_inicio {
  to{
    opacity: 100%;
  }
}